
.UserProfile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}
.SkillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}