
.RatingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #414141;
    margin-top: 10px;
    padding: 10px;

    border-radius: 16px;
    width: 90vw;
}

.ratingHeader {
    color: #ac7ae9;
    text-align: center;

}

.StarsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.star {
    /*box-shadow: 0px 0px 5px 3px #FFBA05FF;*/
    transition: transform 0.5s, filter 1.8s;
}

.star:hover.active {
    transform: scale(1.1);
    transform: rotateZ(360deg);
    filter: drop-shadow(0px 0px 5px #FFBA05FF);
}


.ratingBtnsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ratingBtn {
    width: 160px;
    padding: 6px;
    background-color: #a2a1a1;
    border: none;
    border-radius: 8px;
    transition: transform 0.5s, filter 1.8s;

}

.ratingBtn:hover {
    transform: scale(1.1);
}
