
.ListContainer {
    width: 90vw;
    background-color: #414141;
    padding: 10px;

    border-radius: 16px;
    margin-bottom: 10px;
}

.peopleList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.peopleList li {
    list-style: none;
    /*border: 1px solid red;*/
    background-color: #646464;
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    list-style: none;
    transition: box-shadow 0.5s, transform 0.5s;
}

.peopleList li:hover {
    box-shadow: 0px 0px 10px 2px #c5eff7;
    transform: scale(1.1);
}

.peopleList li button {
    padding: 6px;
    background-color: #a2a1a1;
    border: none;
    border-radius: 8px;
    transition: transform 0.5s, filter 1.8s;
}

.peopleList li button:hover {
    transform: scale(1.1);
}