.SwitchLangBtn {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;

  transition: background-color 0.5s, transform 0.5s;

  &:hover {
    background-color: #d3d2d2;
    transform: scale(1.1);

  }
}