
.LinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 65px;
    border: 3px solid #1ED760FF;
    padding: 36px 57px 41px 57px;
    gap: 18px;
    margin-bottom: 195px;

}