
.cityCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.factsList {

}

.factsList li {
    list-style: inside;
}