.Post {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0 50px 10px;
  background-color: #606060;
  border-radius: 16px;

  button {
    align-self: center;
  }
}


.authorInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid red;
  padding: 8px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.postInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  //border: 1px solid red;
  padding: 8px;
}


.btn {
  background-color: #6c52d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #7354f9;
}