

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 6px;
    background-color: #606060;
    border-radius: 16px;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.codewarsHeader {
    font-size: 30px;
}

.headerContainer img {
    width: 50px;
    height: 50px;
}

.githubSourceBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    gap: 2px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    text-decoration: inherit;
    transition: all 0.5s;
}

.githubSpan {
    font-size: 20px;
    color: #000000;
}

.githubLogo {
    width: 20px;
    height: 20px;
}

.githubSourceBtn:visited {
    text-decoration: none;
    color: #000000;
}