.UserProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0;
  background-color: #606060;
  border-radius: 16px;
}

.UserInformationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 5px #000;

  h2 {
    font-size: 30px;
    font-weight: 700;
  }

  p {
    font-size: 24px;
    font-weight: 600;

  }

}

.UserProfileForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 16px;
  box-shadow: 0 0 5px #000;

  span {
    font-size: 24px;
    font-weight: 600;
  }

  input {
    padding: 10px;

    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: border 0.3s;

    &:focus {
      outline: none;
      border: 2px solid #6c52d9;
    }
  }
}


.btn {
  background-color: #6c52d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #7354f9;
}