.linkIcon {
    transition: all 0.5s ease;
    color: #1ED760;
}

.TwitterLinkContainer:hover .linkIcon {
    transform: translateY(-10px);
    filter: drop-shadow(0px 0px 3px #1181F1FF);
    color: #1181F1FF;
}